
.appRoot {
  border: 2px solid blue;
  padding: 10px;
}

.transactions-list{
  border: solid thin red;
  width: 45%;
  float:left;
}

.accounts-list{
  border: solid thin green;
  width: 50%;
  float: left;
}

.cart {
  border: 2px solid red;
  padding: 10px;
}
.item {
  border: 2px solid green;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.toolbar{
  clear: both;
}

li {
  margin: 5px 0 5px 0;
}
